/* figure formatting */

div.figure {
  overflow: hidden;
  border: 1px dotted #ddd;
  padding: 10px;
}

.figure img {
  float: right;
  padding-left: 15px;
}

.figure p.caption {
  font-weight: bold;
  margin: 0;
}

/* next */

#set-permissions table {
  font-size: 9pt;
}

div.container {
  background: #fff;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  padding: 20px 20px 20px 90px;
  margin: 0 20px;
  min-height: 35px;
}

div.note-error {
  background-image: url('dont_panic.png');
}

div.tip {
  background-image: url('note.png');
}

div.important-tip {
  padding-left: 45px;
  background-image: url('exclamation-point.png');
}

div.question {
  background-image: url('question_mark.png');
}

