/* basic formatting */

body {
  font-size: 10pt;
}

h2 {
 font-size: 170%;
}

h3 {
  border-bottom: 1px solid #000;
}

h4 {
  border-bottom: 1px dotted #000;
}

h2, h3, h4, h5, h6 {
 font-family: Verdana;
 clear: both;
}


/* figure formatting */

div.figure {
  overflow: hidden;
  border: 1px dotted #ddd;
  padding: 10px;
}

.figure img {
  float: right;
  padding-left: 15px;
}

.figure p.caption {
  font-weight: bold;
  margin: 0;
}

/* next */

#set-permissions table {
  font-size: 9pt;
}

div.container {
  background: #fff;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  padding: 20px 20px 20px 90px;
  margin: 0 20px;
  min-height: 35px;
}

div.note-error {
  background-image: url('dont_panic.png');
}

div.tip {
  background-image: url('note.png');
}

div.important-tip {
  padding-left: 45px;
  background-image: url('exclamation-point.png');
}

div.question {
  background-image: url('question_mark.png');
}

/* User figures */

div.users,
div.user-table {
  border: none;
  padding: 0 20px 20px 0;
  margin: 0;
  float: left;
  width: 100%;
}

div.user-table {
  width: 450px;
  float: left;
}

div.user-table img,
div.users img {
  width: 100px;
  height: 100px;
  float: left;
  padding-left: 0;
  padding-right: 20px;
}
