/* basic formatting */

body {
  font-size: 10pt;
  max-width: 1024px;
  margin-right: 100px;
}

h1 {
 font-size: 170%;
}

h2 {
  border-bottom: 1px solid #000;
}

h3 {
  border-bottom: 1px dotted #000;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Verdana;
 clear: both;
}


/* figure formatting */

div.figure {
  overflow: hidden;
  padding: 10px;
}

.figure img {
  float: left;
  padding-right: 15px;
  width: 45%;
  max-width: 600px;
}

.figure p.caption {
  font-weight: bold;
  margin: 0;
}

/* background images */

#set-permissions table {
  font-size: 9pt;
}

div.container {
  background: #fff;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  padding: 20px 20px 20px 90px;
  margin: 0 20px;
  min-height: 35px;
  background-position: 10px 10px;
}

div.note-error {
  background-image: url('dont_panic.png');
}

div.tip {
  background-image: url('note.png');
}

div.important {
  padding-left: 45px;
  background-image: url('exclamation_point.png');
}

div.question {
  background-image: url('question_mark.png');
  background-position: 10px 30px;
}
    
a.recipe-step {
  background-image: url('videoicon.png');
  background-repeat: no-repeat;
  background-position: top right;
  float: right;
  margin-top: -75px;
  margin-right: -100px;
  display: block;
  height: 100px;
  width: 80px;
}


/* User figures */

div.users,
div.user-table {
  border: none;
  padding: 0 20px 20px 0;
  margin: 0;
  float: left;
  width: 100%;
}

div.user-table {
  width: 450px;
  float: left;
}

div.user-table img,
div.users img {
  width: 100px;
  height: 100px;
  float: left;
  padding-left: 0;
  padding-right: 20px;
}

body ol.arabic {
    list-style: decimal inside none;
}
