/* figure formatting */

div.figure {
  overflow: hidden;
  border: 1px dotted #ddd;
  padding: 10px;
}

.figure img {
  float: right;
  padding-left: 15px;
}

.figure p.caption {
  font-weight: bold;
  margin: 0;
}

/* next */

#set-permissions table {
  font-size: 9pt;
}
